<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<!--  xmlns:(이름)="주소" 
			변수명을 정하듯 이름을 정해줌 = 사용할 템플릿의 주소 			
-->

<head>

<meta charset="UTF-8">

<title>Insert title here</title>

</head>

<body>

	<h1>thymeleaf 엔진 적용 페이지</h1>

	<style> .aaa{ color : red; }</style>
	<div th:text="${name}"></div>
	<!-- thymeleaf를 이용해 값을 표시하는 방법
		설정한 xmlns 이름:text="EL표시" -> 태그 안의 text를 설정
	 -->
	<div th:class="aaa">이순신</div>

	<table th:object="${member}">
	<!--   th:object=${이름} 컨트롤에서 받아온 객체를 설정 -->
		<tr>
			<td>이름</td><td th:text="*{name}"></td>
			<!-- table태그에 object로 객체를 설정해줘 ${member.name} -> $*{name}으로 사용가능 
				table태그에 설정한 object라는 뜻으로 *을 붙여서 사용함
			-->
		</tr>
		
		<tr>
			<td>연락처</td><td th:text="*{tel}"></td>
		</tr>
		
		<tr>
			<td>나이</td><td th:text="*{age}"></td>
		</tr>
		
		<tr>
			<td>이메일</td><td th:text="*{email}"></td>
		</tr>	
				
	</table>	
	
	<form th:object="${member}">
		<input th:field="*{name}">
		<input th:field="*{age}">
		<input th:field="*{tel}">
		<input th:field="*{email}">
		<!-- th:field를 사용하면 id, name을 변수와 똑같이 만들고 vulue에 변수 값을 저장해줌 -->
	</form>
	
	<ul>
		<li th:each="a : ${animal}" th:text="${a}"></li>
		<!-- 반복할 태그에 th:each를 해줘야한다 each뒤에 th:text="${each에 사용한 변수이름}을 입력해 출력 -->	
	</ul>
	
	<div th:if="${ member.age > 20 }">
		성인 입니다.
		
	</div>
	<!-- th:if와 th:unless의 조건문이 같아야 참일때 if실행 , 거짓일때 unless가 실행된다. 
	조건식이 같아야 if와 unless가 하나의 구문으로 인식되어 둘 중 하나의 값만 출력됨
	조건식이 다르면 if와 unless가 별개의 구문으로 인식되어 if 실행, unless가 실행된다
	unless는 조건식이 거짓일때 실행되므로 if와 unless의 조건식이 같아야한다
	-->
	<div th:unless="${ member.age > 20 }">
		청소년 입니다.
	
	</div>
	
	<h1 th:text="${ member.age >= 20 ? '성인' : '미성년자' }"></h1>
	
	<!-- 
	
		switch( 11 ) {
			case 3 : 내용 break;
			case 5 : 내용 break;
			case 11 : 내용 break;
			case 20 : 내용 break;		
		}	
	 
	 -->
	 
	<div th:switch="${ name }">
	 	<p th:case="김유신">신라장수</p>
	 	<p th:case="최영">고려장수</p>
	 	<p th:case="이순신">조선장수</p>
	 	<p th:case="계백">백제장수</p>
	 	<!-- th:case는 case의 경우만 출력 break가 필요없음 -->
	</div>
	 
	<div th:text="${tag}"></div>
	<div th:utext="${tag}"></div>
	<!-- th:text는 태그가 적용되지 않고 그대로 출력, th:utext는 태그가 적용되어 출력 -->
	
	<div th:with="num=100">
		<span th:text="${num}"></span>		
	</div>
	<p th:text="${num}"></p>
	<!-- div태그와 그 하위태그인 span에서는 변수num사용가능 p태그는 div태그와 형제 관계여서 사용 불가 -->
	
	<!--/* <p th:text="${name}"></p> */-->
	<!-- aa<p th:text="${name}"></p> -->
	<!-- 
		타임리프가 쓰인 태그에 주석을 걸때는 타임이프 주석을 이용해야 한다. 
		html주석을 이용해서 주석처리를 하면 콘솔창에 주석이 그대로 나타나 보안이 취약하다
	  -->
	
</body>

</html>

<!-- 
	thymeleaf 문법과 표현식
	
	${} : 변수 - Model 또는 ModelAndView로 지정한 name만 사용가능
	
	*{} : 선택변수	 -	member라는 객체에 age, tel 변수를 출력하려면 ${member.age}, ${member.tel}로
					변수를 입력해야 하지만
					<div th:object="${member}>
						<div th:text="*{age}>
					</div>
					로 부모 태그에 object로 설정해주면 자식 태그에는 선택 변수로 *{age}로 입력가능
					
	@{} : url링크 표현식 - 	<a href="/test">테스트페이지</a>
						<a th:href="@{/test}">테스트페이지</a> 변수에의해 url링크가 변하게 하려면
						@를 사용
						
	#{} : 메세지 , properties의 값을 표현할때 사용 
	
	반복문 th:each
		thymeleaf의 반복문, 자바의 for( int num : numbers ) 의 동작이다.
		
		item에 배열 또는 컬렉션프레임워크 객체가 담겨있다면 
		<div>
			<b th:each:"data : ${item}" th:text="${data}></b>
		</div>
		
		위와 같은 방법으로 사용해야 한다
		반복할 태그에 직접 each를 작성해야 한다.
		
	조건문 th:if , th:unless , th:switch , 삼항연산자( 조건연산자 )	
		
		num = 10; 이라면
		<p th:if="${ num > 5 }"> 5보다 크다 </p>
		<p th:unless="${ num > 5 }"> 5보다 작다 </p>
		
		th:if는 조건식이 참일경우에 실행, th:unless는 조건식이 거짓일 경우에 실행	
		
	출력방법 -	th:text:="${변수명 }"	
			th:utext="${변수명}" - untext 텍스트가 아닌 html태그로 동작할 수 있다.
			th:value="${변수명}" - input태그, select태그에 사용된다.
			
	변수 th:with
		뱐수를 생성하고 값 저장방법
		th:with를 통해 생성된 변수는 사용범위가 제한적이다
		생성된 태그의 하위 태그에서만 가능하다
		<div th:with="num=100">
			<span th:text="${num}"></span>		
		</div>
		
	내부 주석 <!--/* */-->	
 -->
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 