<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.movieAndGame.Dao.GameMemberDao">

	<insert id="insert" parameterType="com.movieAndGame.Dto.GameMember" >
		insert into game_member( email, password, nick_name ) values( #{email} , #{password} , #{nickName} )
	</insert>
	
</mapper>