<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{game/gameDefault}">
	
<head>

<title layout:fragment="title">회원가입</title>

<th:block layput:fragment="script">
	<script src=""></script>
</th:block>

</head>

	<div id="main" layout:fragment="gameMain">
		<form method="post" action="/game/signUp" th:object="${gameMember}">
			<div id="formData">
				<div id="inputField">
					<input type="email" th:field="*{email}">
					<label th:for="email">이메일</label>
					<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
				</div>			
		
				<div id="inputField">
					<input type="password" th:field="*{password}">
					<label th:for="password">비밀번호</label>
					<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
				</div>	
				
				<div id="inputField">
					<input type="text" th:field="*{nick_name}">
					<label th:for="nick_name">닉네임</label>
					<p th:if="${#fields.hasErrors('nick_name')}" th:errors="*{nick_name}"></p>
				</div>	
				
				<button id="joinBt">회원가입</button>
	
			</div>
			
		</form>
		
	</div>

</html>