<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="UTF-8">

<title>영화 동아리</title>

<link rel="stylesheet" href="/css/default.css">

</head>


<body>

	<div id="wrap">
	
		<div id="header">
		
			<div id="navi">
			
				<ul id="menuList">
					<li><a href="">상영 영화</a></li>
					<li><a href="">예정 영화</a></li>
					<li><a href="">시사회</a></li>
					<li><a href="/movie/review">생생후기</a></li>
								
				</ul>
				
				<div id="userAlogo">
					<div class="uesrBox">
						<span class="loginLink">
							<a th:href="@{/movie/login}">로그인</a>
						</span>
						
						<span class="userService">고객센터</span>
						
					</div>

					<div class="logo"></div>
				</div>
			
			</div>	

		</div>
	
		<div id="main"></div>
	
	
	</div>


</body>


</html>